.float-button{
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.float-button-bateria{
    position: fixed;
    bottom:  40px;
    right: 40px;
    margin-bottom: 44px;
}

.float-button-onda{
    position: fixed;
    bottom:  40px;
    right: 40px;
    margin-bottom: 88px;
}

.float-button-nota{
    position: fixed;
    bottom:  40px;
    right: 40px;
    margin-bottom: 132px;
}